.App {
  text-align: center;
}

/* HEADER */

.App-header {
  background-color: #f8f8f8;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #363636;
}

.logo{
  justify-content:left;
  padding-right: 20%;
  padding-left: 3%;
}

.menu{
  margin-right:3%;
}

.App-header a {
  color:#363636;
  margin-left: 50px;
  text-decoration: none;
}


/* VERTICAL CARDS STYLING */

.projectCardImage{
  width:100%;
}

.projectcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:90%;
  margin-left:5%;
  margin-bottom: 5%
}

/* .projectcard {
  Add shadows to create the "card" effect
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:90%;
  margin-left:5%;
  margin-bottom: 5%
} */

/* On mouse-over, add a deeper shadow */
.projectcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.projectCardContainer {
  padding: 2px 16px;
}



/* HORIZONTAL CARD STYLING */

.cardWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: stretch;
}

.cardImage{
  width: 65%;
}

.cardContent{
  width:35%;
  padding-top:1rem;
}


/* PROJECT PAGE SYLTING */

.projectList{
  display:flex;
  flex-wrap: wrap;
}

h4{
  font-size: 2rem;
  font-weight: 400;
}

.splash{
  padding:15%;
}