.App {
  text-align: center;
  font-family: Avenir, Lato, sans-serif;
  background-color: rgb(248, 248, 248);
  line-height: 1.5;
}

/* HEADER */

.App-header {
  background-color: #CDDAD7;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #19425E;
}

.logo{
  justify-content:left;
  padding-right: 20%;
  padding-left: 3%;
}

.menu{
  margin-right:3%;
  color: #19425E;
}

.App-header a {
  color:#19425E;
  margin-left: 50px;
  text-decoration: none;
}


/* VERTICAL CARDS STYLING */

.projectCardImage{
  width:100%;
}

.projectcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:90%;
  /* margin-left:1%; */
  margin-bottom: 600px; /*THIS ONE ISN"T WORKING */
}

.projectcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:45%;
  min-width:300px;
  margin-left:2.5%;
  margin-bottom: 2.5%
}

@media screen and (max-width: 780px){
  .projectcard{
    width:90%;
  }
}

/* On mouse-over, add a deeper shadow */
.projectcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.projectCardContainer {
  padding: 2px 16px;
  text-align: left;
}

.metadata{
  color: #C3B899;
}

.projectCardTitle{
  font-size: 1.5rem;
  margin-top:15px;
  margin-bottom:3px;
  color: #19425E;
  text-decoration: none;
}

.cardDescription{
  margin-top:3;
  color: #557A8B;
}

/* HOME PROJECT PAGE SYLTING */

#introText{
  font-size: 24px;
}

.projectCardButton{
  text-align: right;
  background-color: rgb(248, 248, 248); 
  border-color:#557A8B;
  color: #557A8B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  border-width: 2px;
  font-family: Lato; 
  font-size: .75rem;
  margin-bottom: 30px;
  margin-right: 30px;
  align-content: right;
  font-weight: 600;
  margin-top: 6px;
}

.projectCardButton:hover{
  color: rgb(248, 248, 248);
  background-color: #557A8B;
}

.projectList{
  width:95%;
  display:flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: space-evenly;
}

.projectClassWrapper{
  margin:auto;
}

h4{
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.splash{
  padding:15%;
  color: #19425E;
}


/* ABOUT PAGE STYLE */

.wrapperPics{
  width: 50%;
}

.aboutImage{
  width: 100%;
}

.biotext{
  width: 50%;
  text-align: left;
  padding-left: 5%;
  color: #19425E;
}

#line{
  color: #C3B899;
  font-size: 25px;
  margin-top: -25px;
}

.aboutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  text-align: left;
}

@media screen and (min-width: 780px){
  .aboutContainer{
    width: 80%;
    margin: auto;
    min-height: 95vh;
  }
}

@media screen and (max-width: 920px){
  .aboutContainer{
    flex-direction: column;
    width: 80%;
    margin: auto;
    min-height: 95vh;
    padding-top: 10px;
  }

  .biotext{
    width: 90%;
    text-align: center;
  }

  .wrapperPics{
    width: 90%;
  }

  .aboutImage{
    max-width: 400px;
  }
}

/* PROJECT PAGE */

.projectWrapper{
  justify-content:center;
}

.projectBody{
  text-align: left;
  width:50%;
  justify-content:center;
  margin: auto;
  color: #19425E;
}

@media screen and (max-width: 700px){
  .projectBody{
    width: 80%;
  }
}

.caseStudyImage{
  padding-top: 10px;
  padding-bottom: 30px;
  width:100%;
}

.caseStudyMetadata{
  text-align: center;
  color: #C3B899;
  font-size: 18px; 
}

.caseStudyTitleImage{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.fold{
  padding-top:10px;
  padding-bottom: 80px;
}

.pullQuote{
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
}

.twocolumns{
  display: flex;
  justify-content: space-evenly;
}

.column {
  width: 50%;
  margin-right: 2.5%;
}

#numberedFindings{
  background-color: #557A8B;
  color: rgb(248, 248, 248);
  font-size: 1.3rem; 
  margin-left: -60px;
  padding-left: 60px; 
  margin-right: -60px;
  padding-right: 60px; 
  margin-top: 60px; 
  margin-bottom: 60px; 
}

#featureImage{
  width:80%;
}

/* .numberedFindings2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -60px;
  margin-right: -60px;
}
.listbox{
  background-color: #557A8B;
  color: rgb(248, 248, 248);
  font-size: 24px; 
  padding: 1rem;
  width: 43%;
  margin-block-start: .5em;
  margin-block-end: .5em;
} */


/* RESUME PAGE */

.resumebody{
  min-height: 95vh;
  width: 90%;
  margin: auto;
}

/* #resumebutton{
  padding: 15px;
  background-color: green;
  margin-top: 200px;
} */

#resumebutton{
  background-color: rgb(248, 248, 248); 
  border-color:#557A8B;
  color: #557A8B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  border-width: 2px;
  font-family: Avenir; 
  font-size: 1rem;
  margin-bottom: 30px;
  margin-right: 30px;
  align-content: right;
  font-weight: 600;
  margin-top: 50px;
}

#resumebutton:hover{
  text-decoration: underline;
  font-style: italic; 

}