.App {
  text-align: center;
}

/* HEADER */

.App-header {
  background-color: #f8f8f8;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #363636;
}

.logo{
  justify-content:left;
  padding-right: 20%;
  padding-left: 3%;
}

.menu{
  margin-right:3%;
}

.App-header a {
  color:#363636;
  margin-left: 50px;
  text-decoration: none;
}


/* VERTICAL CARDS STYLING */

.projectCardImage{
  width:100%;
}

.projectcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:90%;
  /* margin-left:1%; */
  margin-bottom: 600px; /*THIS ONE ISN"T WORKING */
}

.projectcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:45%;
  min-width:300px;
  margin-left:2.5%;
  margin-bottom: 2.5%
}

/* On mouse-over, add a deeper shadow */
.projectcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.projectCardContainer {
  padding: 2px 16px;
  text-align: left;
}

.metadata{
  color: #acacac;
}

.projectCardTitle{
  font-size: 1.75rem;
  margin-top:15px;
  margin-bottom:3px;
  color: #333333;
}

.cardDescription{
  margin-top:3;
}

/* PROJECT PAGE SYLTING */

.projectList{
  width:95%;
  display:flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: space-evenly;
}

.projectClassWrapper{
  margin:auto;
}

h4{
  font-size: 2rem;
  font-weight: 400;
}

.splash{
  padding:15%;
}


/* ABOUT PAGE STYLE */

.wrapperPics{
  width:45%;
}

.wrapperText{
  width:45%;
  
}

.aboutContainer{
  width:80%;
  display:flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: space-evenly;
  text-align:left;
}

.aboutImage{
    width:100%;
    margin-top:1em;
}

.main{
  font-size:1.25em;
}